*{
	font-family:'微软雅黑';
	font-size: 16px;
}

nav{
	color:#000;
	background-color: #a1a1a1;
	height: 43px;
	text-align: center;
	line-height:43px; 
  	overflow:hidden;  
  	width: 100%;
}

.navcell{
	font-size: 18px;
}

.sign{
	font-size: 24px;
	text-align: left;
}

.navcell a{
	color: #000;
	font-size: 16px;
	text-decoration: none;
}

.container{
	margin-bottom: 20px;
}

.main{
	margin-top:4%;
}

.plan{
	text-align: center;
}

.plan a{
	color: #000;
	text-decoration: none;
}

.display{

}

.display img{
	width: 100%
}

.low{
	z-index:999;
}

.low img{
	margin-top: 10px;
}

.dd{
	-webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 10%,rgba(255,255,255,.3));

}

.marquee 
{
  width:100%;
  height:45px;
  overflow:hidden;
  
}
.marquee li
{ 
  display:inline; 
  float:left; 
  margin-right:12px;
}
.marquee li a
{ 
  height:360px; 
  display:block; 
  float:left; 
  text-align:center; 
  font-size:14px;
}
.marquee li a:hove
{ 
  text-decoration:none;
}
.marquee li img
{
  width:100px; 
  height:45px;
}
.marquee li em
{
  font-style: normal; 
  height:24px; 
  line-height:24px; 
  display:block; 
  margin-top:8px;
}

.right{
	float: right;
}

.active{
	color: #FFF;
	background-color: #C03111;
	border-left: 2px solid #bc5038;
	border-right: 2px solid #bc5038;
	margin: 0px;
	padding: 0px;
}

.choice{
	font-size: 16px;
	color: #000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.choice:hover{
	color: #FFF;
	background-color: #C03111;
	border-left: 2px solid #bc5038;
	border-right: 2px solid #bc5038;
}

.choice a:hover{
	color: #FFF;
}

.vmiddle{
	line-height:20px;
}

.input-group{
	padding-top: 30px;
	padding-bottom: 30px;
}

.navigation{
	height: 35px;
	background-color: #000;
	border: 1px solid #333;
}

.navigation a{
	line-height: 32px;
	color:#FFF;
}

.framework{
	background-color: #ffffff;
}

.price{
	color: #C03111;
	font-size: 22px;
	text-align: left;
}

.page{
	background-color: #ffffff; 
	float: right;
}

footer{
	height: 36px;
	background-color: #363738;
}

footer a{
	font-size: 13px;
	color: #c8cbcc;
}

footer a:hover{
	color:#FFF;
	text-decoration: none;
}

.middle{
	padding-top: 4px;
	text-align: center;
}

.item-mod {
	float: left;
    position: relative;
    float: left;
    width: 320px;
    margin: 0px 12px 15px 0px;
    border: 1px solid #EDEDED;
    box-shadow: 0px 3px 0px #F2F2F2;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
}

.brand-layout-bd .item-mod .fav {
    position: absolute;
    z-index: 5;
    bottom: 78px;
    right: 2px;
    width: 54px;
    height: 38px;
    overflow: hidden;
    border-left: 1px solid #D7D8DB;
    color: #5F646E;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
}

.brand-layout-bd .item-mod .fav i {
    display: block;
    margin: 0px auto;
    width: 22px;
    height: 21px;
    background: transparent url("//static2.51fanli.net/super/images/common-icon8.alpha.png") no-repeat scroll -221px -274px;
}

.item-mod .link {
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 2;
    width: 322px;
    height: 443px;
    background: transparent url("//static2.51fanli.net/common/images/loading/spacer.png") repeat scroll 0% 0%;
}

.item-mod .image, .item-mod .img {
    display: block;
    width: 320px;
    height: 320px;
    background: #EDEDED none repeat scroll 0% 0%;
}

img {
    vertical-align: middle;
    font-size: 12px;
    line-height: 1em;
    color: #999;
    text-align: left;
    overflow: hidden;
}

fieldset, img {
    border: medium none;
}

.item-mod .msg-soon {
    display: none;
    z-index: 3;
    width: 130px;
    margin: -110px 0px 0px -65px;
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

.item-mod .msg-soon, .item-mod .msg-over, .item-mod .msg-booking {
    position: absolute;
    top: 50%;
    left: 50%;
}

.brand-layout-bd .item-mod .title {
    padding-right: 60px;
}

.item-mod .title {
    display: block;
    height: 50px;
    padding: 7px 12px 0px;
    margin-bottom: 8px;
    line-height: 20px;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    text-overflow: ellipsis;
}

.item-mod .msg-soon p {
    display: block;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    border-bottom: 1px dotted #D3CDCC;
}

.item-mod .desc {
    height: 78px;
    padding: 7px 0px 0px 12px;
    background: #FBFBFB none repeat scroll 0% 0%;
}

.money {
    font-family: Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei","SimSun",sans-serif;
}

.item-mod .mod-btn {
    position: absolute;
    bottom: 15px;
    right: -5px;
    z-index: 3;
    width: 75px;
    height: 37px;
    background: transparent url("//static2.51fanli.net/super/images/common-icon8.alpha.png") no-repeat scroll 0px 0px;
    cursor: pointer;
}

.ht {
    margin: 0px;
    padding: 0px;
    height: 0px;
    list-style: outside none none;
    text-indent: -9999px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.item-mod .msg-soon strong {
    font-size: 14px;
}

.item-mod .msg-soon span {
    font-size: 12px;
    margin: 0px;
padding: 0px;
border: 0px none;
font: inherit;
}

a.red:link, a.red:visited, .red {
    color: #FE4300;
}

.item-mod .price {
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #333;
}

.item-mod .price strong {
    padding-right: 8px;
    font-size: 26px;
}

.item-mod .fl {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    color: #C33;
}

.item-mod .fl strong {
    float: left;
    font-size: 26px;
}

.i-gmhf {
    float: left;
    display: block;
    height: 18px;
    padding: 0px 5px;
    margin: 6px 0px 0px 8px;
    line-height: 18px;
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    font-family: Helvetica,Arial,SimSun;
    font-size: 12px;
    color: #FFF;
    background: #C33 none repeat scroll 0% 0%;
}

address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
}

.item-mod .msg-soon, .item-mod .msg-over, .item-mod .msg-booking {
    position: absolute;
    top: 50%;
    left: 50%;
}

.clearfix, .container {
	text-align: left;
}

.J_item_link{
	margin: 0px;
	padding: 0px;
	border: 0px none;
	font: inherit;
	text-align: left;
}

.footer_server_list {
    height: 25px;
    margin-bottom: 20px;
    border: 1px solid #F60;
    border-radius:4px;
    background-color: #F60;
}

.footer_server_list a {
    color: #FFF;
}

